&{
    position: initial !important;
    &.modal-open{
        .modal-sobre-certificado{
            top: 0;
            right: 0;
            .content .close{
                right: 25px;
                @include media-breakpoint-down(md){
                    right: 10px;
                    top: 10px;
                }
            }
        }
    }
    .modal-sobre-certificado{
        position: absolute;
        z-index: 1051;
        display: flex;
        top: 0;
        right: -100%;
        transition: all 400ms;
        height: 100%;
        width: 45%;
        overflow-y: scroll;
        padding: 0.5rem;
        padding-left: 2rem;

        background-color: white !important;

        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        @include media-breakpoint-down(md){
            width: 100%;
            position: fixed;
            padding-left: 1rem;             
        }
        .content{
            width: 100%;
            height: 100%;
            position: relative;
            padding-bottom: 1rem;

            .close{
                transition: all 400ms;
                cursor: pointer;
                z-index: 999;
                position: fixed;
                top: 75px;
                right: -100%;
                font-size: 2rem;
                color: #5e5e5e;
                &:hover{
                    color: black;
                }
            }
            .topo{
                h3{
                    letter-spacing: 0px;
                    font-size: 1.5rem;
                    font-weight: 500;
                }
            }
            .corpo{
                
                i{
                    font-size: 0.5rem;
                }
                p{
                    padding-right: 2rem;
                    font-size: 1rem;
                    margin-bottom: 1px;
                }
                h5{
                    font-size: 1.1rem;
                    font-weight: 400;
                    margin-bottom: 5px;
                    letter-spacing: 0px;
                }
                div.img{
                    width: 100%;
                }

            }
        }

    }



    .processando{
        display: none;
    }
    .error-output{
        display: none;
        .error-message{

        }
    }

    .checkout-metodos-container{
        .accordion .card{
            border: 1px solid rgba(0, 0, 0, 0.125);
            border-radius: 1px;
            .card-header{
                padding-top: 7px;
            }
        }
    }

    .card-style{
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 1px;
        padding: 0.5rem 0.8rem;
    }
    .resumo-compra{

        .plano{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            .nome-plano-ate-venda{
                strong{
                    font-size: 1rem;
                }
            }
            .valor-plano{
                width: 25%;
                @include media-breakpoint-down(md){
                    width: 35%;
                }
                
                font-size: 1rem;
            }
            margin-bottom: 10px;
        }
        .renovacao{
            padding: 0.5rem 0;
            display: block;
        }
    }
    .resumo-compra{

        .certificado-resumo{
            .titulo{
                color: #575757 !important;
            }
            .valor {
                width: 25%;
                @include media-breakpoint-down(md){
                    width: 35%;
                }
                strong {
                    font-size: 1rem;
                }
            }
        }

        .certificado{
            background-color: #fff;
            border: 1px solid rgba(0, 0, 0, 0.125);
            border-radius: 1px;
            padding: 0.5rem 0.8rem;
            .titulo{
                font-size: 1rem;
                color: $verde;
            }
            .desc{
                font-size: 0.7rem;
                line-height: initial;
                display: flex;
            }
            .preco-btn{
                display: flex;
                align-items: center;
                width: 100%;
                justify-content: center;

                .preco{
                    font-size: 1.2rem;
                    font-weight: 500;
                }

                .btn-success{
                    background-color: $verde;
                    font-size: 0.8rem;
                    text-transform: initial;
                }
            }
            .rodape{
                color: lighten($color: #000000, $amount: 60);
            }
        }

        .fa-info-circle{
            color: lighten($color: #000000, $amount: 60);
        }

        .valor-total{
            display: flex;
            justify-content: center;
            background-color: #F4F4F4;
            font-size: 1.2rem;
            font-weight: 500;
            padding: 1.2rem;
        }
    }
}