/*------------------------------------------------------------------
[22. Login]
*/


.login-wrapper{
    // height: 100%;
    background-color: $color-primary;
    & > * {
        height: 100%;
    }
    .bg-pic{
        position: absolute;
        width: 100%;
        overflow: hidden;
        & > img{
            height: 100%;
            opacity: 0.6;
        }
    }
    .login-container{
        .forms-container{
            display: block;
            position: relative;
            &:not(.alerta-anti-fraude){
                width: 496px;
                // float:right;
            }
            &.alerta-anti-fraude >div{
                width: 50%;
                @include media-breakpoint-down(sm){
                    width: 100%;
                }
                &.border{
                    border-width: 2px !important;
                }
                .conteudo >div{
                    @include media-breakpoint-down(sm){
                        width: 100% !important;
                    }
                    &.imagem{
                        width: 15%;
                    }
                    &.texto{
                        width: 85%;
                    }
                }
            }
        }
    }
    .bg-caption{
        width: 500px;
    }
}
.register-container{
    width: 550px;
    margin: auto;
    height: 100%;
}


/* Responsive handlers : Login
------------------------------------
*/

@media (max-width: 768px) {
    .login-wrapper{
        .login-container{
            width: 100%;
        }
    }
    .register-container{
        width: 100%;
        padding: 15px;
    }
}

@media only screen and (max-width : 321px) {
    .login-wrapper{
        .login-container{
            width: 100%;
        }
    }
}