.vagrant/
vendor/
config/development.config.php
data/cache/*
data/**
!data/**/.gitkeep
!data/logs/zoop/.gitkeep
phpunit.xml
nbproject
.idea
mix-manifest.json
node_modules
public/assets
public/pages
public/webfonts
public/css/*
!public/css/.gitkeep
public/fonts/*
!public/fonts/.gitkeep
public/img/*
!public/img/.gitkeep
public/js/*
!public/js/.gitkeep
version
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
public/psalm-report.html
public/webpack-report.html
resources/.dist

