.modal-dialog{
    .modal-content{
        border-radius: 7px;
    }
    .btn-close{
        position: absolute;
        top: 15px;
        right: 15px;
        width: 5%;
        height: auto;
    }
    .alert-error{
        .btn-close{
            position: absolute;
            top: 0;
            right: 0;
            width: 5%;
            height: auto;
        }
    }
    .modal-img{
        width: 20%;
        height: auto;
    }
    .modal-title{
        color: #3C3C3C;
        font-size: 25px;
        font-weight: bold;
    }
    .modal-body{
        color : #3C3C3C;
    }
}
.alert-choose-good{
    .btn-secondary{
        &:active,&:focus{
            color:#5d5d5d !important;
            background-color: #a0a0a0 !important;
            border-color: #a0a0a0 !important;
            box-shadow: 0 0 0 0.2rem rgba(214, 214, 214, 0.459) !important;
        }
        color:#7B7B7B;
        background-color: #DADADA;
        border-color: #DADADA;
    }
    .btn-primary{
        &:active,&:focus{
            color:white !important;
            background-color: #75a56f !important;
            border-color: #75a56f !important;
            box-shadow: 0 0 0 0.2rem rgba(151, 213, 143, 0.541)!important;

        }
        color:white;
        background-color: #97D68F;
        border-color: #97D68F;
    }
}