.loading-container{
    text-align: center;
    border: none !important;
    background-color: transparent !important;
    padding-top: 100px;
    color: $orange;
    .spinner-border{
        box-shadow:0px 0px 27px #ED9902;
    }
    .feedback-text{
        font-size: 20px;
        text-shadow: 0px 0px 27px #ED9902;
        margin-top: 22px;
    }
}