@font-face {
    font-family: "Webfont2";
    src: url("../fonts/icons.eot?1c0bfa89f9045c04eccb91a87701cdd8ffggcxz") format("embedded-opentype"),
        url("../fonts/icons.woff2?1c0bfa89f9045c04eccb91a87701cdd8ffggcxz") format("woff2"),
        url("../fonts/icons.woff?1c0bfa89f9045c04eccb91a87701cdd8ffggcxz") format("woff"),
        url("../fonts/icons.ttf?1c0bfa89f9045c04eccb91a87701cdd8ffggcxz") format("truetype"),
        url("../fonts/icons.svg?1c0bfa89f9045c04eccb91a87701cdd8ffggcxz#icons") format("svg");
}

i[class^="icon-"],
i[class*=" icon-"] {
    &:before {
        font-family: Webfont2 !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        line-height: 0 !important;
        -webkit-font-smoothing: antialiased !important;
        -moz-osx-font-smoothing: grayscale !important;
    }
}

.icon-danger:before {
    content: "\f101";
}
.icon-delivery:before {
    content: "\f102";
}
.icon-endereco:before {
    content: "\f103";
}
.icon-funil:before {
    content: "\f104";
}
.icon-megafone:before {
    content: "\f105";
}
.icon-type-car-2:before {
    content: "\f106";
}
.icon-type-moto-2:before {
    content: "\f107";
}
.icon-type-truck-2:before {
    content: "\f108";
}
