
section.section-chat {
    position: relative;
    > [class*="col-"]{
        position: relative;
    }
    > [class*="col-"]:first-child {
        padding-right: 0 !important;
        z-index: 10;
    }
    > [class*="col-"]:last-child {
        padding-left: 0 !important;
        z-index: 5;
        & > div{
            // padding-left: 10px !important;
        }
    }
    .top-header {
        // height: 50px;
        @include media-breakpoint-down(sm){
            height: 15%;
        }
        height: 10%;
        min-height: 50px;
        border-bottom: solid 1px #ed9902;
        margin-left: -1px;
        position: relative;
        .h4, button {
            color: $body-color;
        }
    }
    .sidebar{
        @include media-breakpoint-down(sm){
            height: 100%;
        }
        >div,>ul{
            width: 100%;
        }
        .filter{
            // padding: 10px 0;
            /*border-bottom: 1px solid #c4c4c4;*/
            height: 100%;
            bottom: 0;
            position: absolute;
            width: 100%;
            >input.form-control{
                height: 100%;
            }
        }
        .list-chats {
            overflow-y: scroll;
            background-color: hsl(0, 0%, 94%);
            direction: rtl;
            list-style: none;
            padding: 0;
            height: 90%;
            margin:0;
            >li.chat-subject{

                .icon-nao-lida{display: none;}

                &.nao-lida .icon-nao-lida{
                    display: block;
                    color: #C86325;
                }
            }

            .chat {
                position: relative;
                direction: ltr;
                border-right: none;
                cursor: pointer;
                border-bottom: 1px solid #c4c4c4;
                margin: 0;
                background-color: #ebebeb !important;
                transition: background-color 200ms;
                border-right: 1px solid #ed9902;
                &.active{
                    border-right: 1px solid #fff;
                    background-color: #fff !important;
                    border-bottom: 1px solid #ed9902;
                    border-top: 1px solid #ed9902;
                    border-left: 1px solid #ed9902;
                    margin-top: -1px;
                }
                .chat-img {
                    height: auto;
                    width: 90px;
                    padding-top: 6px;
                    img {
                        border-radius: 5px;
                    }
                }
                .chat-details {
                    .chat-title {
                        font-size: 0.7rem;
                    }
                    .chat-name {
                        font-size: 0.8rem;
                        font-weight: 700;
                        .user-status {
                            background-color: #ccc;
                            display: inline-block;
                            width: 7px;
                            height: 7px;
                            border-radius: 100%;
                            &.online {
                                background-color: #4CAF50;
                            }
                            
                        }
                    }
                    .chat-last-msg {
                        font-size: 0.78rem;
                        color: #989898;

                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        &.nao-lida {
                            font-weight: bold;
                        }
                    }
                }
                .chat-info {
                    position: absolute;
                    right: 5px;
                    bottom: 5px;
                    text-align: right;
                    .chat-date {
                        font-size: 0.7rem;
                        color: #979797;
                    }
                    .chat-status {
                        display: none;
                        font-size: 0.55rem;
                        color: #ffffff;
                        background-color: #bbbbbb;
                        border-radius: 5px;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
    .main-chat{
        height: calc(100vh - 60px);
        // padding-right: 0;
        >div,>ul{
            width: 100%;
        }
        .IMPLEMENTAR{
            .conversation-info {
                .conversation-name {
                    font-size: 0.8rem;
                }
                .conversation-last-access {
                    font-size: 0.7rem;
                    color: #979797;
                }
            }
            .conversation-menu {
                .conversation-action {
                    a {
                        font-size: 0.9rem;
                        color: purple;
                    }
                }
            }
        }

        .top-header>.contact-row{
            height: 100%;
        }
        .contact { 
            height: 100%;
            width: 100%;
            @include media-breakpoint-down(sm){
                width: 90%;
            }
            .anuncio-data{
                height: 100%;
                a{
                    width: auto;
                    max-width: 17%;
                    img {
                        @include media-breakpoint-down(sm){
                            padding: 50% 0;
                        }
                        width: 100%;
                    }
                    .img-fluid{
                        height: 100%;
                        width: auto;
                        border-radius: 10px;
                        padding: 4px;
                    }
                }
                .title{
                    height: 100%;
                    .contact-name{
                        margin: 0;
                        width: 100%;
                        height: 50%;
                    }
                    .anuncio-title{
                        width: 100%;
                        height: 50%;
                    }
                }
            }
/*             .last-seen{
                height: 100%;
                margin-right: 0.5rem;
                align-self: flex-end;
            } */
        }
        .conversation-options-dropdown > a:hover,
        .close-conversation:hover{
            color: #212121;
        }
        .conversation-options-dropdown {
            align-self: center;
            padding: 0 10px;
            margin-left: 10px;
            cursor: pointer;
            .conversation-options {
                padding: 0 10px;
                font-size: 30px;
            }
        }

        .close-conversation {
            display: none;
            @include media-breakpoint-down(sm){
                display: block;
                border: none;
                background: none;
                font-size: 30px;
            }
        }

        ul.conversation {
            /* display: flex;
            height: 80%;
            margin: 0;
            flex-wrap: wrap;
            padding-left: 0;
            >li{
                width: 100%;
                list-style: none;
            }
            /* */
            margin-bottom: 10px;
            background-color: #fff;
            height: 100%;
            overflow-y: scroll;
            position: relative;

            list-style: none;
            margin: 0;
            padding: 0 10px;
            height: 80%;
            @include media-breakpoint-down(sm){
                height: 79%;
                ::-webkit-scrollbar {
                    display: none;
                }
            }

            li.start-chat, li.empty {
                color: #ededed;
                text-align: center;
                position: absolute;
            }
            li.empty {
                top: 100%;
                bottom: 100%;
                left: 0;
                right: 0;
                margin: auto 0;
                font-size: 30px;
                line-height: 40px;
            }
            li.start-chat {
                font-size: 20px;
                /*height: 100%;*/
                /*line-height: 100px;*/
                bottom: 40px;
                left: 0;
                right: 0;
            }
            li.message {
                width: 100%;
                margin: 6px 0;
                display: flex;
                // line-height: 20px;
                &.sent {
                    justify-content: flex-end;
                }
                &.received {
                    justify-content: flex-start;
                }
                .message-container{
                    width: auto;
                    max-width: 65%;
                    border-radius: 8px;
                    padding: 5px;
                    word-break: break-word;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-end;
                    &.sent + .sent, &.received + .received {
                        margin-top: -5px !important;
                    }
                    &.sent {
                        color: #fff;
                        background-color: #C86325;
                        border-bottom-right-radius: 0;
                    }
                    &.received {
                        color: #646464;
                        background-color: #ebebeb;
                        border-bottom-left-radius: 0;
                    }
                    &.lida {
                        .infos {
                            .status {
                                opacity: 0.5;
                            }
                        }
                    }
                    .text {
                        margin:0;
                        padding: 0;
                        text-indent: 0;
                        list-style-type: 0;
                        border-radius: 10px;
                        overflow-wrap: break-word;
                        padding-right: 15px;
                    }
                    .infos {
                        width: auto;
                        padding-right: 15px;
                        * {
                            display: inline;
                        }
                        .time {
                            opacity: 0.5;
                            font-size: 11px;
                            transition: opacity 400ms;
                        }
                        .status {
                            opacity: 0.1;
                            font-size: 11px;
                        }
                    }
                }
            }
        }


        .editor {
            padding-left: 0;
            height: 10%;
            padding: 5px 17px 5px 0;
            @include media-breakpoint-down(sm) {
                padding-right: 0;
            }
            form {
                background-color: #F5F6FA;
                @include media-breakpoint-down(sm) {
                    height: 100%;
                }            
            }
            input[name="msg"] {
                margin-right: 10px;
                border: none;
                background-color: #F5F6FA;
                /*&:focus {
                    background-color: #fff;
                }*/
            }
            input {
                font-size: 15px;
            }
            button {
                background: none;
                border: none;
                padding-right: 1rem;
                i{
                    transition: all 200ms;
                }
                &:hover, &:focus{
                    i{
                        color: #ed9902;
                        transform: translate(5px, -5px);
                    }
                }
                &:active{
                    i{
                        color: #ed9902;
                        transition: all 100ms;
                        transform: translate(20px, -10px);
                        opacity: 0;
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(xs) {
        > [class*="col-"]:first-child {
            padding: 0 !important;
        }
        > [class*="col-"]:last-child {
            padding: 0 !important;
            & > div{
                /*padding-left: 10px !important;*/
            }
        }
        &.conversation-active {
            .sidebar {
                display: none !important;
            }
        }
        &:not(.conversation-active) {
            .main-chat {
                display: none !important;
            }
        }
    }
}

&.c-chat.a-index {
    .footer{
        display: none;
    }

    .page-container{

    }
}
