.img-150 {
  width: 100%;
  height: auto;
}
.bg-menu {
  background-color: $color-menu;
}
.btn-sm{
  padding-top: 0px !important;
  padding-bottom: 0px  !important;
  padding-left: 15px  !important;
  padding-right: 15px !important;
}
.veiculo{
  ul{
    margin-bottom: 0;
  }
  .btn-group{
    display: flex;
    padding-bottom: 0.5rem;
    @include media-breakpoint-down(sm){
      display: block;
      a{
        width: 100%;
        button{
          width: 100%;
        }
      }
    }
    span{  
      margin-left: 0.7rem;
      font-size: 0.7rem;
    }
    .btn{
      border-radius: 0px;
      &:first-child{
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
      &:last-child{
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
  }
}
.icon-2{
  font-size: 1rem;
}
.btn-sm {
  padding-top: .4rem !important;
  padding-bottom: .4rem !important;
  height: auto;
}
.sem-anuncios{
  a.link-black:visited:hover{
    color:#0a0a0a;
  }
  a.link-black{
    color:#1a1a1a;
  }
  a.link-black{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width: 85px;
    height: 85px;
    @include media-breakpoint-down(sm) {
      height: 55px;
    }
    border-radius: 15px;
    border: .5px solid rgba(26, 26, 26, 0.055);
  }
  h2{
    font-size: 1.7rem;
  }
  h3{
    font-size: 2.9rem;
    font-weight: bold;
  }
}
.aviso-expiracao{
  &.plano-expirou{
    background-color: $vermelho;
    i,h5{
      color:$white;
    }
  }
  &.plano-expira-mes{
    background-color: $verde;
    i,h5{
      color:$white;
    }
  }
  &.plano-expira-semana{
    background-color: $amarelo;
    i,h5{
      color:$black;
    }
  }
  i{
    font-weight: 700;
    font-size:2rem;
  }
  h5{
    font-weight: 400;
    font-size:1.2rem;
  }
}

.btn-certificado{
  @include media-breakpoint-down(md){
    margin-bottom: 10px;
  }
  font-size: 0.7rem;
  line-height: 0.7rem;  
  padding-left: 0 1rem;
  height: 70px;
  >div{
    span{
      font-size: 0.7rem;
    }
    small{
      font-size: 0.5rem;
    }
    b{
      font-size: 1rem;
    }
  }
}

.veiculo{
  .veiculo-titulo{
    .marca-modelo{
      width: 70%;
    }
    .preco{
      width: 30%;
      text-align: right;
      h4{
        margin:0;
      }
    }
    .valvula{

    }
    @include media-breakpoint-down(md){
      .marca-modelo{
        width: 100%;
      }
      .preco{
        width: 100%;
      }
    }
  }
}