.img-150 {
  width: 100%;
  height: auto;
}
.bg-menu {
  background-color: $color-menu;
}
.btn-sm{
  padding-top: 0px !important;
  padding-bottom: 0px  !important;
  padding-left: 15px  !important;
  padding-right: 15px !important;
}
.img-fluid{
  width: 100%;
}
.veiculo{
  ul{
    margin-bottom: 0;
  }
  .btn-group{
    display: flex;
    padding-bottom: 0.5rem;
    @include media-breakpoint-down(sm){
      display: block;
      a{
        width: 100%;
        button{
          width: 100%;
        }
      }
    }
    span{  
      margin-left: 0.7rem;
      font-size: 0.7rem;
    }
    .btn{
      border-radius: 0px;
      &:first-child{
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
      &:last-child{
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
  }
}
.icon-2{
  font-size: 1rem;
}
.btn-sm {
  padding-top: .4rem !important;
  padding-bottom: .4rem !important;
  height: auto;
}
.sem-anuncios{
  a.link-black:visited:hover{
    color:#0a0a0a;
  }
  a.link-black{
    color:#1a1a1a;
  }
  a.link-black{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width: 85px;
    height: 85px;
    @include media-breakpoint-down(sm) {
      height: 55px;
    }
    border-radius: 15px;
    border: .5px solid rgba(26, 26, 26, 0.055);
  }
  h2{
    font-size: 1.7rem;
  }
  h3{
    font-size: 2.9rem;
    font-weight: bold;
  }
}
.aviso-expiracao{
  &.plano-expirou{
    background-color: $vermelho;
    i,h5{
      color:$white;
    }
  }
  &.plano-expira-mes{
    background-color: $verde;
    i,h5{
      color:$white;
    }
  }
  &.plano-expira-semana{
    background-color: $amarelo;
    i,h5{
      color:$black;
    }
  }
  i{
    font-weight: 700;
    font-size:2rem;
  }
  h5{
    font-weight: 400;
    font-size:1.2rem;
  }
}

.btn-certificado{
  @include media-breakpoint-down(md){
    margin-bottom: 10px;
  }
  font-size: 0.7rem;
  line-height: 0.7rem;  
  padding-left: 0 1rem;
  height: 70px;
  >div{
    span{
      font-size: 0.7rem;
    }
    small{
      font-size: 0.5rem;
    }
    b{
      font-size: 1rem;
    }
  }
}

.veiculo{
  .veiculo-titulo{
    .marca-modelo{
      width: 70%;
    }
    .preco{
      width: 30%;
      text-align: right;
      h4{
        margin:0;
      }
    }
    @include media-breakpoint-down(md){
      .marca-modelo{
        width: 100%;
      }
      .preco{
        width: 100%;
      }
    }
  }
}
#modalTipoAnuncio{
  .modal-dialog{
    max-width: 400px !important;
    @include media-breakpoint-down(sm) {
      width: 96%;
    }
    .modal-content{
      padding: 1rem 0px;
    }
  }
  h5{
    font-weight: 600;
    letter-spacing: normal;
  }
  .modal-header button{
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    right: 15px;
    top: 15px;
    font-size: 1.2rem;
  }
  .modal-body{
    .link-tipo{
      width: 100px;
      height: 100px;
      @include media-breakpoint-down(sm) {
        width: 85px;
        height: 85px;
      }

      text-align: center;

      display: flex;
      justify-content: center;
      align-items: center;

      color: #505050;
      background-color: #F4F4F4;

      margin-right: 0.6rem;

      &:last-of-type{
        margin-right: 0;
      }
      &:hover{
        color: #FFF;
        background-color: $laranja;
      }

      i{ 
        font-size: 2.5rem;
        vertical-align: middle;
      }
    }
  }
}

.item-compartilhar {
  position: relative;
  list-style: none;
  cursor: pointer;
  &.show .lista-compartilhar {
      pointer-events: all;
      opacity: 1;
  }
  .lista-compartilhar {
      position: absolute;
      z-index: 11;
      background: #3c3c3c;
      box-shadow: 1px 1px 3px #3c3c3c;
      pointer-events: none;
      bottom: 0px;
      height: 219px;
      width: 100%;
      min-width: 170px;
      overflow: hidden;
      opacity: 0;
      transition: opacity 200ms;
      > div {
          display: flex;
          width: 100%;
          &:hover {
              cursor: pointer;
              background-color: $primary;
              box-shadow: 1px 1px 3px #3c3c3c;
          }
          button,
          a {
              display: flex;
              background: transparent;
              color: white;
              border: none;
              width: 100%;
              padding: 7px 10px;
              align-items: center;
              justify-content: flex-start;
              i {
                  margin-right: 10px;
                  text-align: left;
                  width: 25%;
              }
              span {
                  display: block;
                  font-weight: 800;
              }
          }
      }
  }
}