&.a-login{
    button.btn-warning{
        color: #3C3C3C;
        text-transform: uppercase;
        font-weight: bold;
    }
    .close{
        background-color: rgba(0,0,0,0);
        border:0;
    }
    form {
        > .form-group{
            border: none;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .form-group label {
            font-weight: bold !important;
        }
    }

    .container-forms {
        /*background-color: #fff;*/
        /*border-radius: 10px;*/
    }
    .login-container-root {
        min-height: 100vh;
        align-items: center;
        display: flex;
    }
    .login-container {
        .loading-container {
            padding-top: 70px;
        }
        /*padding: 30px 60px 60px 60px;*/
        border-radius: 10px;
        /*background-image: url(/img/login-cover.jpg);*/
        background-position: center;
        background-repeat: no-repeat;
        max-width: 800px;
        margin: 0 auto;
        background-color: #eff0f2;
        @include media-breakpoint-down(md) {
            background-color: #fff;
        }

        .banner-offset {
            
            &, h3, a{
                color: #fff;
            }
            @include media-breakpoint-up(md) {
                line-height: 30px;
                border-radius: 10px;
                background-color: $orange;
                min-height: 430px;
                right: -150px;
            }
            @include media-breakpoint-down(md) {
                padding: 25px;
                .alerta-anti-fraude {
                    border-radius: 10px;
                    background-color: $orange;
                }
            }
        }
    }
}
