&.a-login{
    button.btn-warning{
        color: #3C3C3C;
        text-transform: uppercase;
        font-weight: bold;
    }
    .close{
        background-color: rgba(0,0,0,0);
        border:0;
    }
    form {
        > .form-group{
            border: none;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .form-group label {
            font-weight: bold !important;
        }
    }
}
