*{
    font-family: 'Roboto';

}
.login-area{
    width: 365px;
    @include media-breakpoint-down(md){
        width: 100%;
    }
}
.titulo{
    font-size: 1.3rem;
    font-weight: 400;
}
.switch-container{
    width: 100%;
    display: flex;
    justify-content: center;

    .switch-field {
        width: 100%;
        display: flex;
        overflow: hidden;
        justify-content: space-between;
        input {
            position: absolute !important;
            clip: rect(0, 0, 0, 0);
            height: 1px;
            width: 1px;
            border: 0;
            overflow: hidden;
            &:checked + label {
                background-color: $laranja;
                color: white;
                box-shadow: none;
            }
        }
        label {
            background-color: #e4e4e4;

            color: #555;
            font-size: 14px;
            font-weight: 600;
            text-align: center;

            transition: all 0.4s ease-in-out;

            padding: 5px 0px;
            width: 49%;

            &:hover {
                cursor: pointer;
            }
        }
    } 
}
.conteudo{
    background: white;
    box-shadow: 0px 0px 3px 0px #ccc;
}
.forms{
    padding: 1.9rem;
    padding-top: 1rem;

    .form-group{
        padding: 0;
        border: none;
        margin-bottom: 0.8rem;
        label{
            margin: 0;
            font-size: 0.8rem;

            font-weight: bold;
            font-family: 'Roboto' !important;
            letter-spacing: initial;
            text-transform: initial;
        }
        >div{
            display: flex;
            width: 100%;
            input{
                border: 1px solid #ccc;
                padding: 0.5rem;
                width: 100%;

                font-size: 0.8rem;
                font-family: 'Roboto';
            }
            button[type='submit'].btn{
                width: 100%;
                background-color: black;
                color: white;
            }
        }
    }
    .group-senha{
        flex-wrap: nowrap;
        input{
            border-right: none !important;
        }
        .input-group-text{
            height: 2.2rem;
            background-color: white;
            border-left: none;
            font-size: 0.9rem;
        }
    }
    .esqueci-senha{
        margin-bottom: 1rem;
        a{
            color: $laranja;
            font-weight: 600;
        }
    }
}

#modalRecuperarSenha{
    .modal-header{
        line-height: initial;
    }
    .options >div a{
        color: black;
        &:hover{
            b{
                color: $laranja;
            }
        }

        span{
            font-weight: initial;
            font-size: 0.7rem;
        }
    }
}