// @import "~snbh-site/resources/assets/fonts/icons.svg";

/**
 * @todo Colocar as variáveis abaixo num arquivo separado
 * Essas variáveis são para a versão 4.3.1 do bootstrap
 */

$enable-pointer-cursor-for-buttons: true !default;
$font-weight-bolder: bolder !default;

@import "~snbh-site/resources/assets/sass/variables";
@import "~snbh-site/resources/assets/sass/bootstrap";
@import "~snbh-site/resources/assets/sass/components/all";
@import "~snbh-site/resources/assets/sass/mvc/layouts/print";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/tables";

@import "theme_pages/themes/corporate/corporate";

$fa-font-path: "../../../node_modules/font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@import "tools/mixins";
@import "components/all";
@import "mvc/routes/all";
@import "mvc/layout/all";
.debug {
  outline: red solid 1px;
}
@import "~snbh-site/resources/assets/fonts/icons.css";
@import "~snbh-site/resources/assets/sass/components/all";
