.step-fotos{
    @import "_fotos";
}
.step-video{
    @import "_videos";
}
.step-plano{
    @import "_planos";
}
.step-preco{
    @import "_preco";
}
label{
    line-break: auto;
    white-space: normal;
}
.input-shadow{
    box-shadow: 0 0 0 0.2rem rgba(207, 135, 7, 0.5);
}