&{
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 25px;
        .titulo{
            font-size: 1.3rem;
            font-weight: 400;
        }
        .conteudo{
            width: 70%;
            @include media-breakpoint-down(md){
                width: 100%;
            }
            background: white;
            box-shadow: 0px 0px 3px 0px #ccc; 
        }
    }
    
    .forms{
        padding: 1.9rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        .placa {
            &::after{
                left: 25% !important;
                width: 5px;
            }
            .field{
                @include media-breakpoint-down(sm){
                    width: 68%;
                    b{
                        width: 50%;
                    }
                }
                width: 70%;
            }
        }
        .checkbox{
            width: 30%;
            margin-left: 15px;
            margin-top: 5px;
            margin-bottom: 0;
            >input{
                display: none;
            }
            @include media-breakpoint-down(sm){
                width: 40%;
            }
        }

        [class^="conjunto-"],[class*=" conjunto-"]{
            .form-group{
                width: 48%;
            }
        }
        .conjunto-leilao{
            @include media-breakpoint-down(sm){
                b{
                    width: 70%;
                }
            }
        }
        .form-group{
            padding: 0;
            border: none;
            margin-bottom: 0.8rem;
            .is-invalid{
                .invalid-feedback{
                    display: block;
                }
                input,select{
                    border: 1px solid $vermelho;
                }
            }
            .is-valid input,select{
                border: 1px solid $verde;
            }
            &.required:after{
                right: 0px;
                top: 5px;
            }


            select{
                appearance: menulist !important;
                
                // background-image: url(/img/svg/icons/arrow-down.svg);
                // background-repeat: no-repeat;
                // background-size: 7px;
                // background-position: top 50% right .8rem;
                // padding-right: 1rem;
            }
            label{
                margin: 0;
                font-size: 0.8rem;
    
                font-weight: 900;
                margin-bottom: 4px;

                font-family: 'Roboto' !important;
                letter-spacing: initial;
                text-transform: initial;
            }
            >div{
                display: flex;
                width: 100%;
                input, select{
                    border: 1px solid #ccc;
                    padding: 0.5rem;
                    width: 100%;
                    height: 35px;
                    border-radius: 0;
                    font-size: 0.8rem;
                    font-family: 'Roboto';
                }
                button[type='submit'].btn{
                    width: 100%;
                    background-color: black;
                    color: white;
                }
            }
        }
    }
    .opcionais{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        .checkbox-custom{
            display: flex;
            margin: 3px 2px;
            input{
                display: none;
            }
            label{
                cursor: pointer;
                padding: 0.5px 0.7rem;
                border-radius: 17px;
                border: 1px solid;
                border-color: #7B7B7B;
                display: flex;
                align-items: center;
                transition: all 200ms;
                i{
                    margin-left: 5px;
                    font-size: 90%;
                    display: none;
                }
            }
            input:checked ~ label {
                background-color: #7B7B7B;
                color: white;
                i{
                    display: block;
                }     
            }
        }
    }
}