@font-face {
    font-family: "icons";
    src: url("./icons.eot?7caf1e6b5befeed6468e0a45cf8ec4e4#iefix") format("embedded-opentype"),
url("./icons.woff2?7caf1e6b5befeed6468e0a45cf8ec4e4") format("woff2"),
url("./icons.woff?7caf1e6b5befeed6468e0a45cf8ec4e4") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-danger:before {
    content: "\f101";
}
.icon-delivery:before {
    content: "\f102";
}
.icon-endereco:before {
    content: "\f103";
}
.icon-funil:before {
    content: "\f104";
}
.icon-megafone:before {
    content: "\f105";
}
.icon-type-car:before {
    content: "\f106";
}
.icon-type-moto:before {
    content: "\f107";
}
.icon-type-truck:before {
    content: "\f108";
}
