@font-face {
    font-family: "icons";
    src: url("./icons.eot?bf17aa9be76ba6eeb729c747c6626dd9?#iefix") format("embedded-opentype"),
url("./icons.woff2?bf17aa9be76ba6eeb729c747c6626dd9") format("woff2"),
url("./icons.woff?bf17aa9be76ba6eeb729c747c6626dd9") format("woff"),
url("./icons.ttf?bf17aa9be76ba6eeb729c747c6626dd9") format("truetype"),
url("./icons.svg?bf17aa9be76ba6eeb729c747c6626dd9#icons") format("svg");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-danger:before {
    content: "\f101";
}
.icon-delivery:before {
    content: "\f102";
}
.icon-endereco:before {
    content: "\f103";
}
.icon-funil:before {
    content: "\f104";
}
.icon-megafone:before {
    content: "\f105";
}
.icon-type-car:before {
    content: "\f106";
}
.icon-type-moto:before {
    content: "\f107";
}
.icon-type-truck:before {
    content: "\f108";
}
