@font-face {
    font-family: "icons";
    src: url("./icons.eot?f53a0fa7dba7ae9be37ef0c3324a0dcb?#iefix") format("embedded-opentype"),
url("./icons.woff2?f53a0fa7dba7ae9be37ef0c3324a0dcb") format("woff2"),
url("./icons.woff?f53a0fa7dba7ae9be37ef0c3324a0dcb") format("woff"),
url("./icons.ttf?f53a0fa7dba7ae9be37ef0c3324a0dcb") format("truetype"),
url("./icons.svg?f53a0fa7dba7ae9be37ef0c3324a0dcb#icons") format("svg");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-danger:before {
    content: "\f101";
}
.icon-delivery:before {
    content: "\f102";
}
.icon-endereco:before {
    content: "\f103";
}
.icon-funil:before {
    content: "\f104";
}
.icon-megafone:before {
    content: "\f105";
}
