.page-container{
    min-height: 100%;
    margin-bottom: -50px;
    padding-bottom: 50px !important;
}
.footer{
    background-color: #fff;
}
.row-full{
    width: 98vw;
}

ul.steps-list{
    list-style: none;
    li {
        padding: 0;
        display: inline-block;
        &:not(:last-child)::after{
            content: " ";
            display: inline-block;
            border-bottom: 1px solid #707070;
            width: 40px;
        }
        svg{
            transition: all 400ms;
        }
        &.active{
            svg{
                fill: #ED9902;
            }
        }
        &.active ~ li{
            svg{
                fill: #7B7B7B;
            }
        }
    }
    svg{
        width: 42px;
        fill: #DADADA;
    }
}
