.page-container{
    min-height: 100%;
    margin-bottom: -50px;
    padding-bottom: 50px !important;
    .content {
        padding-top: 0px;
    }
}
.footer{
    background-color: #fff;
}
.row-full{
    width: 98vw;
}

ul.steps-list{
    margin: 0;
    padding: 0;
    text-align: justify;
    list-style-type: none;
    &:after {
        content: "";
        width: 100%;
        display: inline-block;
    }
    li {
        display: inline;
        &:not(:last-child)::after{
            content: " ";
            display: inline-block;
            border-bottom: 1px solid #707070;
            width: 40px;
            @include media-breakpoint-down(sm) {
                width: 5px;
            }

        }
        svg{
            transition: all 400ms;
        }
        &.active{
            svg{
                fill: #ED9902;
            }
        }
        &.active ~ li{
            svg{
                fill: #7B7B7B;
            }
        }
    }
    svg{
        width: 42px;
        fill: #DADADA;
    }
}

$namespace:_criar-anuncio-;

.snbh-logo {
    .layer-car {
        animation: #{$namespace}snbh-logo-layer-car 1s ease-in-out;
    }
    .layer-letters {
        animation: #{$namespace}snbh-logo-layer-letters 2s ease-in-out;
    }
}

@import "imports/login_animations";