.linha-plano {
    &.size-3x {
        [class^="bar-"] {
            height: 39px;
            margin-right: 4px;
        }

        .bar-1 { width: 3px; }
        .bar-2 { width: 4px; }
        .bar-3 { width: 5px; }
        .bar-4 { width: 6px; }
        .bar-5 { width: 7px; }
    }
}
// grid to print
@media print {
    .pl-print-0 {
        padding-left: 0px !important;
    }
    .mt-print-5{
        margin-top: 3rem !important;
    }
}
@include media-breakpoint-up(sm) {
    $layout-sidepanel-pin-width:290px;
}