$namespace:_login-;
&:not(.intro-off){
    .snbh-logo-container {
        .snbh-logo {
            animation: $namespace + snbh-logo-container-presentation 3s none;
        }
    }

    .intro-2 {
        animation: $namespace + forms-container-presentation 3s none;
    }

    .snbh-logo {
        .layer-car {
            animation: #{$namespace}snbh-logo-layer-car 1s ease-in-out;
        }
        .layer-letters {
            animation: #{$namespace}snbh-logo-layer-letters 3s ease-in-out;
        }
    }
}
@import "imports/login_animations";


.link-laranja{
    color: $laranja !important;
    &:hover{
        color: darken($color: $laranja, $amount: 10) !important;
    }
}


&{
    background-color: #F9F9F9;
    font-family: 'Roboto' !important;
}
.topo{
    height: 10vh;
    .snbh-logo-container svg{
        height: 65px;
        width: auto;
    }
}
.login-container{
    height: 90vh;
}
.separador{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    span{
        border-top: 1px solid #ccc;
        width: 43%;
    }
}
.cadastrar{
    width: 100%;
    .btn-cadastrar{
        display: flex;
        width: 100%;
        color: white;
        text-transform: initial;
        justify-content: center;
    }
}

.modal-dialog{
    position: relative;
    button.close{
        border: none;
        background-color: transparent;
        right: 10px;
        top: 10px;
        z-index: 10;
    }
    .modal-content{
        padding: 1.9rem;
        padding-bottom: 0.5rem;
    }
    .modal-header{
        padding: 0;
        span{
            font-size: 0.7rem;
        }
    }
    .modal-body{
        padding: 0;
        span{
            font-size: 0.9rem;
            font-weight: bold;
        }
    }
    .modal-footer{
        padding: 0;
        display: flex;
        width: 100%;
        .btn-default{
            margin: 0;
            width: 100%;
            background-color: black;
            color: white;
        }
    }
    @include media-breakpoint-down(md){
        width: 93.6%;
        margin: 0.7rem;
    }
}
