$namespace:_login-;
&:not(.intro-off){
    .snbh-logo-container {
        .snbh-logo {
            animation: $namespace + snbh-logo-container-presentation 3s none;
        }
    }

    .forms-container {
        animation: $namespace + forms-container-presentation 9s none;
    }

    .snbh-logo {
        .layer-car {
            animation: #{$namespace}snbh-logo-layer-car 1s ease-in-out;
        }
        .layer-letters {
            animation: #{$namespace}snbh-logo-layer-letters 2s ease-in-out;
        }
    }
}
.snbh-logo-container {
    text-align: center;
}

@import "imports/login_animations";
.switch-field {
    width: 100%;
    display: flex;
    overflow: hidden;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    text-align: center;
    padding: 8px 16px;
    transition: all 0.4s ease-in-out;
    width: 50%;
}
.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
    background-color: $yellow;
    box-shadow: none;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}