<?php
/**
 * Local Configuration Override for DEVELOPMENT MODE.
 *
 * This configuration override file is for providing configuration to use while
 * in development mode. Run:
 *
 * <code>
 * $ composer development-enable
 * </code>
 *
 * from the project root to copy this file to development.local.php and enable
 * the settings it contains.
 *
 * You may also create files matching the glob pattern `{,*.}{global,local}-development.php`.
 */

$removeKey = new \Zend\Stdlib\ArrayUtils\MergeRemoveKey();

return [
    'ApiClient' => [
        'credentials' => [
            'serverUrl' => getenv('SNBH_API_HOST'),
            'headers' => [
                'Accept' => 'application/vnd.seminovos-bh.v1+json'
            ]
        ],
        'cache' => [
            'use_from_service_manager' => 'cache'
        ],
    ],
    'UsersModuleApi' => [
        'base_uri' => 'http://34.213.61.95',
        'support' => [
            'user' => 'micro_users',
            'password' => 'microusersuibd8syhd8',
        ],
    ],
    'log' => [
        'logger' => [
            'writers' => [
                's3' => $removeKey,
                'local' => [
                    'name' => \AreaRestrita\Log\Writer\Local::class,
                    'options' => [
                        'formatter' => \Zend\Log\Formatter\Json::class,
                        'stream' => 'data/temp/logs/logger.txt',
                        'chmod' => 0777,
                    ],
                ]
            ],
            'processors' => [
                'Backtrace' => [
                    'name' => Zend\Log\Processor\Backtrace::class,
                ],
                'UserRequest' => [
                    'name' => \AreaRestrita\Log\Processors\UserRequest::class,
                ],
            ],
        ],
    ],
    'cache' => array(
        'adapter' => Zend\Cache\Storage\Adapter\Filesystem::class,
        'options' => array(
            'server' => $removeKey,
            'ttl' => 300, # 5 Minutos
            'cacheDir' => 'data/cache',
            'namespace' => 'AreaRestritaDev',
        ),
        'plugins' => array(
            'Serializer',
        )
    ),
    'view_manager' => [
        'display_exceptions' => true,
    ],
];
