<?php

/**
 * Local Configuration Override for DEVELOPMENT MODE.
 *
 * This configuration override file is for providing configuration to use while
 * in development mode. Run:
 *
 * <code>
 * $ composer development-enable
 * </code>
 *
 * from the project root to copy this file to development.local.php and enable
 * the settings it contains.
 *
 * You may also create files matching the glob pattern `{,*.}{global,local}-development.php`.
 */

use AreaRestrita\Log\Processors\UserRequest;
use AreaRestrita\Log\Writer\Local;
use Laminas\Log\Formatter\Json;
use Laminas\Stdlib\ArrayUtils\MergeRemoveKey;

$removeKey = new MergeRemoveKey();

return [
    'ApiClient' => [
        'credentials' => [
            'serverUrl' => getenv('SNBH_API_HOST'),
            'headers' => [
                'Accept' => 'application/vnd.seminovos-bh.v1+json',
            ],
        ],
        'cache' => [
            'use_from_service_manager' => 'cache',
        ],
    ],
    'log' => [
        'logger' => [
            'writers' => [
                'NewRelic' => $removeKey,
                'local' => [
                    'name' => Local::class,
                    'options' => [
                        'formatter' => Json::class,
                        'stream' => 'data/temp/logs/logger.txt',
                        'chmod' => 0777,
                    ],
                ],
            ],
            'processors' => [
                'Backtrace' => [
                    'name' => Laminas\Log\Processor\Backtrace::class,
                ],
                'UserRequest' => [
                    'name' => UserRequest::class,
                ],
            ],
        ],
    ],
    'caches' => [
        'cache' => [
            'adapter' => Laminas\Cache\Storage\Adapter\Filesystem::class,
            'options' => [
                'server' => $removeKey,
                'ttl' => 300, // 5 Minutos
                'cacheDir' => 'data/cache',
                'namespace' => 'AreaRestritaDev',
            ],
            'plugins' => [
                ['name' => 'Serializer'],
            ],
        ],
    ],
    'view_manager' => [
        'display_exceptions' => true,
    ],
];
